.center{

    position: absolute;
    padding: 50px;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    background:lightslategrey;
    font-family: "Malgun Gothic";
    border-radius: 10px;
    border: 1px solid;
    box-shadow: -12px 12px 5px darkgrey;


}

.inputs input{

    width: 100%;
    height: 40px;
    border: none;
    border-radius: 10px;
    text-align: center;
    font-size: 20px;

}

.sub_btn{

    width: 100%;
    height: 50px;
    border: 1px solid;
    border-radius: 50px;
    background: dodgerblue;
    color: white;
    font-size: 20px;
    cursor: pointer;

}

.sub_btn:hover{

    border-color: dodgerblue;
    transition: .2s;

}

.register{

    margin-top: 40px;
    text-align: center;
    font-size: 18px;
    color: white;

}

.register a{

    color: mediumblue;
    text-decoration: none;

}

.register a:hover{

    color: blue;
    text-decoration: underline;

}
