<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>B for Blog</title>
    <link rel="stylesheet" href="css/styles.css">

    <link rel="icon" href="favicon.ico">
  </head>
  <body>
<div class="container">
<div class="logo">
  <img src="images\BFB_logo.png" alt="" width="140px">
  </div>
<nav>
  <ul>
  <li>Home</li>
  <li>Download</li>
  <li>Gallery</li>
  <li>Sample Page</li>
  <li>View Pro</li>

  </ul>
  </nav>
</div>

<img src="images/cover.jpg" width="100%" alt="">

  </body>
</html>
