{% extends 'layout.html' %} {% load static %} {% block body %}

<div class="card-deck">
  <div class="card rounded border-dark">
    <img class="card-img-top" src="{% static 'blog/images/blog-pexels.jpg' %}" alt="Card image cap"/>
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">
        Write the description of your blog here.
        Write the description of your blog here.
        Write the description of your blog here.
      </p>
      <button class="btn btn-primary">Read-more</button>
    </div>
  </div>
  <div class="card rounded border-dark">
    <img class="card-img-top" src="{% static 'blog/images/blog-pexels.jpg' %}" alt="Card image cap"/>
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">
        Write the description of your blog here.
        Write the description of your blog here.
        Write the description of your blog here.
      </p>

      <button class="btn btn-primary">Read-more</button>
    </div>
  </div>
  <div class="card">
    <img
      class="card-img-top"
      src="{% static 'blog/images/blog-pexels.jpg' %}"
      alt="Card image cap"
    />
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">
        Write the description of your blog here.
        Write the description of your blog here.
        Write the description of your blog here.
      </p>

      <button class="btn btn-primary">Read-more</button>
    </div>
  </div>
</div>

{% endblock %}
