{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'blog/css/layout.css' %}">
    <link rel="icon" href="{% static 'blog/images/favicon.ico' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/blog/css/styles.css" />
    {% block head %}
    {% endblock %}
</head>


<body>
    <nav>
        <div style="float: left;">
            <a href="\index"><img src="{% static 'blog/images/BFB_logo.png' %}" alt="" height=50px></a>
        </div>
        <ul class="nav-ul">
            <li class="nav-li">
                <a href="/read_blog">Read Blog</a>
            </li>
            <li class="nav-li">
                <a href="/create_blog">Write Blog</a>
            </li>
            <li class="nav-li">
                <a href="/login">Login</a>
            </li>
            <li class="nav-li">
                <a href="/registration">Register</a>
            </li>
        </ul> 
    </nav>
<br>
    {% block body %}


    {% endblock %}

</body>
</html>