{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'blog/css/layout.css' %}">
    <link rel="icon" href="{% static 'blog/images/favicon.ico' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/blog/css/styles.css" />
    {% block head %}
    {% endblock %}
</head>


<body>
    <div class="page-wrap">
    <nav>
        <div style="float: left;">
            <a href="\index"><img src="{% static 'blog/images/BFB_logo.png' %}" alt="" height=50px></a>
        </div>
        <ul class="nav-ul">
            <li class="nav-li">
                <a href="/read_blog">Read Blog</a>
            </li>
            <li class="nav-li">
                <a href="/create_blog">Write Blog</a>
            </li>
            <li class="nav-li">
                <a href="/login">Login</a>
            </li>
            <li class="nav-li">
                <a href="/registration">Register</a>
            </li>
        </ul> 
    </nav>
<br>
    {% block body %}


    {% endblock %}
</div>
<div class=" container my-5" amp-fx="float-in-bottom">
    <footer style="background-color: #d7e9f7;">
      <div class="container p-8" style="border-radius: 2cm;">
        <div class="row">
          <div class="col-lg-12 col-md-12 mb-2">
            <h5 class="mb-3 text-dark" style="margin-top: 10px;">About</h5>
            <p>
              B-for-Blog is platform where you can write what you want!! B for Blog aims for an efficient exchange of ideas by beautiful minds.
  It enables you a platform where you can write about things you love,think or want people to know. Never forget, the best ideas beneath us changes who we are. On this platform, you can shape them and spark them into powerful conversations. Anyone can write on B-for-Blog. You can go over numerous amazing present blogs by various authors anytime just to get your day started or even when you want to kill sometime. 
  Get started <a href="/create_blog">here</a>.
            </p>
          </div>
        </div>
      </div>
    </footer>
  </div>
</body>
</html>