{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'blog/css/layout.css' %}">
    <link rel="icon" href="{% static 'blog/images/favicon.ico' %}">
    {% block head %}
    {% endblock %}
</head>


<body>
    <nav>
        <div style="float: left;">
            <a href="\index"><img src="{% static 'blog/images/BFB_logo.png' %}" alt="" height=50px></a>
        </div>
        <ul class="nav-ul">
            <li class="nav-li">
                <a href="/read_blog">Read Blog</a>
            </li>
            <li class="nav-li">
                <a href="/create_blog">Write Blog</a>
            </li>
            <li class="nav-li">
                <a href="/login">Login</a>
            </li>
            <li class="nav-li">
                <a href="/registration">Register</a>
            </li>
        </ul> 
    </nav>

    {% block body %}
    {% endblock %}

</body>
</html>