<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>

    <link rel="stylesheet" href="/static/blog/css/login.css" />

</head>
<body>

    <div class="center">
        <h1 style="text-align: center; color: white">Login</h1>
        <br>
        <form action="" method="post">
            {% csrf_token %}
            <div class = "inputs">

                <input type="email" name = "email" placeholder="Email ID" required>
                <br>
                <br>
                <input type="password" name = "password" placeholder="Password" required>

            </div>

            <br>
            <br>
            <button class="sub_btn" type="submit" name="Login">Login</button>
        </form>

        <div class="register">
            <p>
                Do not have an account?

                <a href="">Register here</a>

            </p>
        </div>
    </div>

</body>
</html>